@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --yl1: #fcb531;
  --yl2: #ffe375;
  --red: #ec1e27;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Nunito";
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
/* svg, */
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  height: 100%;
  /* min-height: 100%; */
  font-size: 16px;
  line-height: 1.5;
  font-family: "Nunito";
}

/* page login */
.input-row-login {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 40px;
}

.wraper-login {
  background-image: url("./images/bg-main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/*loginForm styles*/
#loginForm {
  /* width: 400px; */
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginForm fieldset {
  border: 0 none;
  padding: 20px 30px;
  width: 60%;
  width: 100%;
  margin: 0 10%;
  position: relative;
}

#loginForm fieldset:nth-child(2) {
  padding: 0 20%;
  margin-bottom: 24px;
}

/*buttons*/

#loginForm .action-button {
  background: linear-gradient(
    90deg,
    #e9bf38 0%,
    #f9f18d 32%,
    #d8a928 68%,
    #f7f197 100%
  );
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding: 14px;
  text-transform: uppercase;
  width: 215px;
  position: relative;
  border: 2px solid var(--yl1);
  color: var(--red);
  box-shadow: inset 0 0 0 6px;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
}

/*Hide all except first fieldset*/
#loginForm fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#loginForm .input-cosy {
  font-family: "Inter", sans-serif;
  padding: 12px 28px;
  border: 0 none;
  border-radius: 8px;
  width: 100%;
  color: var(--yl1);
  font-size: 24px;
  background-color: #fff;
  cursor: pointer;
}

.error-text-login-username {
  display: none;
}

.error-text-login-password {
  display: none;
}

.msg-error {
  font-size: 18px;
  color: var(--yl2);
  margin: 8px 28px;
  text-align: left;
}

/* end page login */
.form-wraper {
  display: flex;
  justify-content: center;
}
.wraper {
  background-image: url(./images/bg-step-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  /* height: 100dvh; */
  display: flex;
  flex-direction: column;
}

.logo {
  padding-left: 10%;
  width: 30%;
}

.cookie {
  width: 50%;
  z-index: 1;
}

.logo img,
.cookie img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*form styles*/
#msform {
  /* width: 400px; */
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#msform fieldset {
  border: 0 none;
  padding: 20px 30px;
  width: 60%;
  width: 100%;
  margin: 0 10%;
  position: relative;
}

#msform fieldset:nth-child(2) {
  margin-bottom: 24px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
.input-cosy {
  font-family: "Inter", sans-serif;
  padding: 12px 28px;
  border: 0 none;
  border-radius: 8px;
  width: 100%;
  color: var(--yl1);
  font-size: 24px;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
}

.input-cosy::placeholder {
  color: var(--yl1);
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.warning-form {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin: 8px 24px 24px 24px;
}

.div-note-cosy {
  width: 50%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-bottom: 48px;
}

.note-cosy {
  display: none;
  color: #fff;
  margin-top: 40px;
  text-align: left;
  font-size: 14px;
  word-break: break-word;
  margin-left: 10%;
}

/*buttons*/

#msform .action-button {
  background: linear-gradient(
    90deg,
    #e9bf38 0%,
    #f9f18d 32%,
    #d8a928 68%,
    #f7f197 100%
  );
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding: 14px;
  text-transform: uppercase;
  width: 215px;
  position: relative;
  border: 2px solid var(--yl1);
  color: var(--red);
  box-shadow: inset 0 0 0 6px #982822;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
}

/*headings*/
.fs-title {
  font-size: 32px;
  color: var(--yl2);
  font-weight: bold;
}

.fs-title > span {
  text-transform: uppercase;
  color: #ffe375;
}

.wrap-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .glass {
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 40px;
  position: relative;
} */
.glass {
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 0px;
  position: relative;
}

.glass .a_glass {
  max-width: 320px;
  height: 100%;
  animation: circleScale 3s forwards infinite;
}

.glass img {
  display: inline-block;
  object-fit: cover;
}

.input-row {
  width: 100%;
  /* margin-bottom: 16px; */
  margin-top: 16px;
}

.error-text {
  font-size: 18px;
  color: var(--yl2);
  margin: 8px 28px;
  text-align: left;
  display: none;
}

.input-row.error .error-text {
  display: block;
}

.input-row.error .input-cosy::placeholder {
  color: var(--red);
}

.fire-work {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  opacity: 0.5;
}

.fire-work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cookie_wrap {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  /* animation: circleScale2 6s forwards infinite; */
}

.cookie_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-success {
  display: none;
  align-self: flex-end;
}

.btn-success button {
  margin: 30px;
  border: 1px solid #1565ff !important;
  background: linear-gradient(
    90deg,
    #aaedff 0%,
    #156cff 32%,
    #0051bf 68%,
    #1565ff 100%
  ) !important;
  color: #fff !important;
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding: 21px;
  text-transform: uppercase;
  width: 215px;
  position: relative;
  box-shadow: inset 0 0 0 6px #982822;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
}

.firework {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}

.firework-2 {
  position: absolute;
  right: 0;
  left: -50px;
  top: 0;
}

#btn-logout {
  width: 50px;
  margin-left: 10%;
}

.ic-camera {
  padding-right: 20px;
}

@keyframes circleScale {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes circleScale2 {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.8);
  }
}

.file-upp > div > input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.filupp-file-name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (orientation: landscape) {
  .container-cosy {
    height: 100%;
    display: flex;
    position: relative;
    width: 100%;
  }

  .logo {
    padding-left: 5%;
    width: 200px;
  }

  .fs-title {
    font-size: 26px;
    color: var(--yl2);
    font-weight: bold;
  }

  #msform fieldset {
    border: 0 none;
    padding: 0px;
    width: 60%;
    width: 100%;
    margin: 0 10%;
    position: relative;
  }

  .glass {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0;
    position: relative;
  }

  .glass .a_glass {
    max-width: 280px;
    height: 100%;
    animation: circleScale 3s forwards infinite;
  }

  .glass img {
    display: inline-block;
    object-fit: cover;
  }

  .cookie {
    width: 300px;
    z-index: 1;
  }

  .wraper {
    background-image: url(./images/bg-step-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }

  .container-cosy {
    height: 100%;
    display: flex;
    position: fixed;
    width: 100%;
  }

  .note-cosy {
    width: 300px;
  }
}
